<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..."%>
  </div>
  <table class="posting-table">
  <tr>
  <td>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </td>
  <td class="countdown"></td>
  </tr>
  </table>
<% end %>